
/* CUSTOM STYLES*/
ul 
  list-style: none

body 
  padding: 0
  margin-top: -10px
  background: rgba(220,220,220,0.8) url("../img/content-bg-100px.png")

header 
  background-image: url("../img/header-bg-100px.png")
  border-bottom: 6px ridge #2078c9
  // box-shadow: 0px 7px 13px -2px rgba(180,180,180,0.8)
  height: 89px
  transition: height 0.3s ease-in-out

#header-container 
  margin: 0 auto
  display: inline-block
  width: 100%

#container 
  max-width: 960px
  margin: 20px auto

footer 
  border-top: 1px groove white
  margin-top: 20px
  box-shadow: 0px -7px 13px -2px rgba(180,180,180,0.8)
  background: #E5EAE5 url("../img/footer-bg.png")
  text-align: right
  position: absolute
  bottom: 0
  width: 100%
  background-size: 100px

footer h5 
  margin: 0
  margin-right: 20px
  color: white

/* button styles */

#registration-login-form 
  // width:  200px
  margin: 0 auto

.choose-game #container
  margin: 0

button 
  margin: 5px 0

#play-nav-btn 
  background:  url("../img/icon-rocket.png") no-repeat 8px 7px
  background: url("../img/icon-rocket.png") no-repeat 13px 19px
  transition: background 0.9s ease-in-out
  background-size: 21px
#play-nav-btn:hover
  background:  url("../img/icon-rocket.png") no-repeat 40px -90px
  background-size: 21px

#rank-nav-btn 
  background: url("../img/icon-star.png") no-repeat 15px 19px
  background-size: 20px

#add-nav-btn 
  background:  url("../img/icon-pencil.png") no-repeat 18px 19px
  background-size: 20px

#logout-nav-btn 
  background:  url("../img/icon-log-out.png") no-repeat 16px 19px
  // transition: all 1s ease-in-out
  margin-left: 70px
  margin-right: 20px
  background-size: 18px


nav .btn 
  float: right
  padding: 21px 8px 19px 45px
  border: none
  color: white
  background: none
  box-shadow:  none
  border-radius: 0
  margin: 0
  text-transform: uppercase
  margin-left: 15px

nav .btn:hover 
  background: none
  color: white

nav .btn:active 
  border: none
  background: none
  color: white


.back-btn 
  margin-left:  25px



#preloader 
  margin: 0 auto
  height: 32px
  width: 32px
  display: block
  position: absolute
  top: 50%
  left: 50%
  margin-top: -16px
  margin-left: -16px
  z-index: 999999


#random-game, #custom-game, #question-add-btn, #category-add-btn
  display: block
  min-width: 150px
  margin: 30px auto



#logo 
  margin: 0px
  padding: 0px
  margin-left: 70px
  margin-top: 10px
  float: left
  width: 78px
  height: 40px


td a 
  width:  150px
  display:  block
  overflow:  hidden


th.headerSortDown  
  background: url(../img/arrow-up.png) no-repeat 78px 13px


th.headerSortUp  
  background: url(../img/arrow-down.png) no-repeat 78px 13px


.alert 
  position: absolute
  width: 200px
  z-index: 999999
  top: 0
  left: 50%
  margin-left: -100px
  text-align: center
    


.bar 
  width: 99%

.progress 
  height:  35px

#timer 
  line-height:  48px
  width: 150px
  margin: 0 auto
  font-size:  50px
  text-align:  right
  height:  50px
  color:  #e2e2e2
  text-shadow:  1px 1px white, -1px -1px rgb(126, 126, 126)
  background:  url("../img/time-icon-100px.png") no-repeat
  background-size:  45px

.answers-input .btn 
  width: 100%

.question-container 
  margin:  10px
  margin-top:  10px 

#categories-list 
  margin:  0 auto
  // width:  215px
  text-align: center
  li
    width: 200px
    float: left
    margin-right: 30px
    margin-left: 30px
    text-align: left
    height: 28px
    overflow: hidden
    padding: 6px 0
/* Vars */
$green: #468966
$green-dark: #3D7556
$white: #fff
$red: #B74926

/* Base */
html, body, .container
  height: 100%
.top-bottom-10 
  padding-top: 10px
.top-bottom-20 
  padding-top: 20px
.top-bottom-40 
  padding-top: 40px
.top-10 
  padding-top: 10px
.top-20 
  padding-top: 20px
.top-40 
  padding-top: 40px
img
  max-width: 100%

.valign-wrapper
  display: table
  table-layout: fixed

textarea, input
  -webkit-appearance: none

.valign
  display: table-cell
  vertical-align: middle
  text-align: center
  width: 100%
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
  -webkit-appearance: none
  outline: none
.btn.active, .btn:active
  box-shadow: none
header .btn:hover
  transform: scale(1.1)
.btn
  border-radius: 100px
  transition: 0.1s ease-in-out
.btn:hover
  text-decoration: none
.btn:focus
  color: white
.btn.btn-success
  background: white
  border: 1px solid white
  min-width: 250px
  color: $green
  font-weight: 500
.btn.btn-link
  color: $white
  border: 1px solid $white
.btn.btn-link.green
  color: $green-dark
.btn.full-width
  width: 100%
.btn.btn-link.red
  border-color: $red
  color: $red
  width: 170px
  transition: all 0.3s ease-in-out
.btn.form
  background: $red
  color: white
  margin-bottom: 7px

/* Login/Register form */ 
#simple-modal
  border: none
  display: block 
  width: 300px
  height: 300px
  left: 50%
  top: 50%
  margin-left: -150px
  margin-top: -150px
  overflow: hidden
  font-family: comfortaa, sans-serif
  a.close
    right: 2px
    top: 2px
    padding: 12px
    color: black
    opacity: 0.6
  legend
    display: block
    width: 100%
    padding: 0
    padding-top: 18px
    text-align: center
    background: #E4E4E4
    min-height: 54px
    margin-bottom: 20px
    font-size: 21px
    line-height: inherit
    color: #666666
    border: 0
    border-bottom: 1px solid #BDBDBD
    text-transform: uppercase
    font-size: 16px
  textarea, input
    -webkit-appearance: none
    border: none
    outline: none
    border-bottom: 1px solid #BDBDBD
    width: 100%
    margin-bottom: 10px
    font-size: 11px
    letter-spacing: 0.5px
    font-weight: 300
    color: black
  .inner-form
    padding: 0 29px


/* Splash page styles */ 
body
  background: #468966
  font-family: 'Comfortaa', sans-serif
.front-ill img
  max-width: 100%
.hero-title
  color: white
  font-weight: 300
.body-recolor
  background: #FFDEAF


/* game page styles */ 
.icon-resize
  max-width: 300px
.handle
  position: absolute
  width: 14px
  height: 100px
  right: 132px
  top: 46px
  background: #FAAE3C
  transition: all 0.3s ease-in-out
.col-md-6:hover .handle
  height: 42px
  top: 110px
.ball
  width: 33px
  height: 33px
  background: #B74926
  border-radius: 100px
  position: absolute
  right: 123px
  top: 29px
  transition: all 0.3s ease-in-out
.col-md-6:hover .ball
  top: 90px
.col-md-6 .icon-check
  width: 50px
  position: absolute
  right: 131px
  top: 115px
  transition: all 0.3s ease-in-out
.col-md-6:hover .icon-check
  transform: scale(1.3)
.col-md-6:hover .btn.btn-link.red
  color: #FFDEAF
  background: $red
header
  box-shadow: none
  border-bottom: none
  background: $green
  .btn
    letter-spacing: 1px
.icon-text
  max-width: 200px
  margin: 0 auto
  color: $green
  margin-bottom: 60px
.category
  cursor: pointer
.disable
  #logo,
  button
    opacity: 0.4

img.responsive
  display: none
.responsive-menu
  display: none
@media (min-width: 992px)
  .container 
    width: 1100px
@media(max-width:1000px)
  body
    .col-md-4
      text-align: center
      .start-btn
        margin-bottom: 20px
      .leaderboard, .add-question
        display: none
    #logo
      margin-left: 20px
      margin-top: 14px
      float: left
      width: 58px
      height: 30px
    nav
      display: none
      button
        width: 100%
    #container
      .category
        img, .handle, .ball, .check
          display: none
        img.responsive
          display: block
          max-width: 200px
          margin: 0 auto
          margin-top: 40px
      .icon-text
        margin-bottom: 20px
      .btn.btn-link.red
        background: $red
        color: $white
        margin-bottom: 70px
    .responsive-menu
      display: block
      position: absolute
      right: 25px
      top: 19px
      font-size: 30px
      color: white
    .resp-active
      height: 330px
      nav
        display: block
        ul
          margin-left: -60px
        #logout-nav-btn, #add-nav-btn, #rank-nav-btn, #play-nav-btn
          background: none
        #logout-nav-btn
          padding-left: 81px

