doctype html
html
head
  include head.jade
  body.add
    header
      #header-container
        h1
          a(href='index.html')
            img#logo(src='img/logo.png', alt='3via-logo', height='48', width='130')
        |             
        nav
          ul
            li
              a(href='index.html')
                button#home-nav-btn.btn(type='button')
                  | &Icy;&gcy;&rcy;&acy;&jcy;!
            |                     
            li
              a(href='add.html')
                button#add-nav-btn.btn(type='button')
                  | &Dcy;&ocy;&bcy;&acy;&vcy;&icy;
            |                     
            li
              a(href='ranking.html')
                button#rank-nav-btn.btn(type='button')
                  | &Kcy;&lcy;&acy;&scy;&acy;&tscy;&icy;&yacy;
            |                     
            li
              a(href='')
                button#logout-nav-btn.btn(type='button')
                  | &Icy;&zcy;&khcy;&ocy;&dcy;
    |         
    section
      #container
        form#registration-login-form
          fieldset
            legend
              | &Dcy;&ocy;&bcy;&acy;&vcy;&icy;
            |                         
            button#question-add-btn.btn.btn-primary(type='button')
              | &Vcy;&hardcy;&pcy;&rcy;&ocy;&scy;
            |                         
            p
              | &Dcy;&ocy;&bcy;&acy;&vcy;&yacy;&ncy;&iecy; &ncy;&acy; &vcy;&hardcy;&pcy;&rcy;&ocy;&scy;/&icy; &kcy;&hardcy;&mcy; &vcy;&iecy;&chcy;&iecy; &scy;&hardcy;&shchcy;&iecy;&scy;&tcy;&vcy;&ucy;&vcy;&acy;&shchcy;&acy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy;.
            |                         
            button#category-add-btn.btn.btn-primary(type='button')
              | &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy;
            |                         
            p
              | &Dcy;&ocy;&bcy;&acy;&vcy;&yacy;&ncy;&iecy; &ncy;&acy; &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy; ( &mcy;&icy;&ncy;. &kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &vcy;&hardcy;&pcy;&rcy;&ocy;&scy;&icy; 10 ).
    include footer.jade

