meta(charset='utf-8')
|         
meta(name='robots', content='noindex')
|         
meta(name='viewport', content='width=device-width, initial-scale=1.0')
|   
|         
title 3via - online question game
|         
link(href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css', rel='stylesheet')
|  
|         
link(href='css/style.css', rel='stylesheet')
|         
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
|         
script(src='http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js')
|         
script(src='js/jquery.tablesorter.min.js')
|  
script(src='js/min/functions-min.js')