doctype html
html
  head
    include head.jade
  body.choose-game
    header
      #header-container
        h1
          a(href='index.html')
            img#logo(src='img/logo.png', alt='3via-logo', height='51', width='130')
        div.responsive-menu
          i(class='glyphicon glyphicon-menu-hamburger')
        nav
          ul                         
            li
              a(href='#')
                button#logout-nav-btn.btn(type='button') LOG OUT
            li
              a(href='#' class='menu_btn add-question-menu-btn')
                button#add-nav-btn.btn(type='button') ADD question
            li
              a(href='#' class='menu_btn leaderboard-menu-btn')
                button#rank-nav-btn.btn(type='button') LEADERBOARD
            li
              a(href='#' class='menu_btn play-menu-btn')
                button#play-nav-btn.btn(type='button') PLAY

    .main.container.valign-wrapper
      #container.row.valign
        .col-md-12
          .row
            .col-md-12.text-center.front-ill
              img(src="img/front-ill.png", alt="illustration")
          .row
            h1.col-md-12.text-center.hero-title Play and learn
          .row.top-40
            .col-md-4.col-sm-12.text-right
              a.btn.btn-link.btn-lg.start-btn.leaderboard Leaderboard 
            .col-md-4.col-sm-12.text-center
              a(href='#').btn.btn-success.btn-lg.start-btn START
            .col-md-4.col-sm-12.text-left
              a.btn.btn-link.btn-lg.start-btn.add-question Add question

