doctype html
html
  include head.jade
  body.ranking
    header
      #header-container
        h1
          a(href='index.html')
            img#logo(src='img/logo.png', alt='3via-logo', height='48', width='130')
        nav
          ul
            li
              a(href='index.html')
                button#home-nav-btn.btn(type='button')
                  | Играй
            li
              a(href='add.html')
                button#add-nav-btn.btn(type='button')
                  | Добави
            li
              a(href='ranking.html')
                button#rank-nav-btn.btn(type='button')
                  | Класация
            li
              a(href='')
                button#logout-nav-btn.btn(type='button')
                  | Изход
    section
      #container
        table#myTable.tablesorter.table.table-striped
          thead
            tr
              th#name-sort
                i.icon-user
              th#games-sort
                i.icon-picture
              th#score-sort
                i.icon-star-empty
          tfoot
          tbody#ranking-body
    //
      <footer>
      <h5 class="muted">
      2013
      </h5>
      </footer>
